html,
body {
  background: #1B1D1E;
  color: #D5D3CF;
  font-family: 'Lato', sans-serif;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-text-size-adjust: 100%;
}

.brsmall {
  display: block;
  margin-bottom: 25px;
}

.footnotes hr {
  border: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.065); border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: -10px;
}

sup, sub {
vertical-align: baseline;
position: relative;
top: -0.4em;
}
sub {
top: 0.4em;
}

sup.inline {
  top: -1.2em;
}

sub.inline {
  top: 1.2em;
}

sup.code {
  top: -0.6em;
}

sub.code {
  top: 0.25em;
}

.footnotes a {
  font-size: 90%;
  text-decoration: none;
  hyphens: auto;
}
/* footnotes styling*/

/* table of contents styling, inspired by gohugo.io */
.table-of-contents {
  display: block;
  margin: 0;
  padding: 0em 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  background: rgba(230, 230, 230, 15%);
  background: linear-gradient(to right, rgba(230, 230, 230, 0%), rgba(250, 250, 250, 0%));
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #ff6633;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000;
  font-size: 95%;
}

.table-of-contents ul {
  margin-bottom: 4px;
  margin-top: 4px;
}
/* table of contents styling*/

a.headline-hash {
  opacity: 0;
  text-decoration: none;
}

a.headline-hash:hover {
  opacity: 1;
  display: inline;
}

/* post comment box, tags, etc */
#single-bottom {
  background-color: #1B1D1E;
  border: 0.5px solid #363636;
  border-radius: 4px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 8px;
  margin-top: 40px;
}

.isso-postbox > .form-wrapper .textarea, .isso-postbox > .form-wrapper .preview {
	margin: 0 0 .3em;
	padding: .4em .8em;
	border-radius: 3px;
	background-color: #181a1b !important;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.isso-postbox > .form-wrapper > .auth-section .input-wrapper input {
  padding: .3em 10px;
  max-width: 100%;
  border-radius: 3px;
	background-color: #181a1b !important;
  line-height: 1.4em;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.isso-postbox > .form-wrapper > .auth-section .post-action > input {
  padding: .3em 10px;
  max-width: 100%;
  border-radius: 3px;
	background-color: #181a1b !important;
  line-height: 1.4em;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #81807E;
}

html, body, input, textarea, select, button {
    border-color: #736b5e;
    background: #1B1D1E;
    color: #D5D3CF;
}
/* post comment box, tags, etc */

#container {
  margin: auto;
}

#header {
  margin-top: 2em;
}

#site-logo {
  float: right;
}

.highlight {
  overflow: auto;
  box-sizing: content-box;
  margin-top: -10px;
  margin-bottom: -10px;
}

#site-title,
a:link,
a:active,
a:visited {
  color: #ff6633;
}
a:hover {
  color: #777777;
}

#site-title {
  font-weight: 700;
  font-size: xx-large;
}

#site-title a:link,
#site-title a:active,
#site-title a:visited,
#site-title a:hover {
  text-decoration: none;
}

#site-slogan,
#footer {
  color: #777777;
}

#site-slogan {
  margin-top: -0.35em;
}

code {
  font-size: 15px;
  background-color: #151515;
  color: #c6c1b9;
}

[class*="language"] {
  background-color: #202325;
}

h1 code {
  font-size: 32px;
}

h2 code {
  font-size: 24px;
}

h3 code {
  font-size: 19px;
}

h4 code {
  font-size: 17px;
}

h5 code {
  font-size: 14px;
}

h6 code {
  font-size: 11px;
}

nav {
  clear: both;
  margin-top: 3em;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul.first > li {
  display: block;
  margin: .5em 0;
}

nav ul.second,
nav ul.third {
  display: none;
}

nav a:link,
nav a:active,
nav a:visited,
nav a:hover {
  text-decoration: none;
}

nav a:link,
nav a:active,
nav a:visited {
  color: #D5D3CF;
}

nav a:hover {
  color: #ff6633;
}

#content,
#footer,
hr {
  border-top: 1px dashed #aaa;
}

#content {
  margin-top: 2em;
}

#article {
  margin-top: 2em;
}

#article img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img[src*='#center'] {
  display: block;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

#article #inner h1:before {
  content: "# ";
  opacity: 0.3;
}

#article #inner h2:before {
  content: "## ";
  opacity: 0.3;
}

#article #inner h3:before {
  content: "### ";
  opacity: 0.3;
}

#article #inner h4:before {
  content: "#### ";
  opacity: 0.3;
}

#article #inner h5:before {
  content: "##### ";
  opacity: 0.3;
}

#article #inner h6:before {
  content: "###### ";
  opacity: 0.3;
}

#article p, #article ol li, #article ul li {
  text-align: justify;
}

#article blockquote {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 1.1em;
  border-radius: 4px;
  line-height: 1.5em;
  width: 80%;
  margin: auto;
  background: 0 0;
  border: 2px solid #303030;
  box-shadow: 4px 4px 0 0 #303030;
  padding-left: 4px;
  padding-right: 4px;
}

#article blockquote > blockquote {
  border: none;
  box-shadow: none;
  padding-left: 0px;
}

#article blockquote.twitter-tweet {
  font: 14px/1.45 -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen-Sans,Ubuntu,Cantarell,helvetica neue,sans-serif;
  border-width: 0 0 0 4px;
  border-style: solid;
  border-color: #ff6633;
  border-radius: 0px;
  padding-left: 1.5em;
  color: #c4c3c3;
  box-shadow: 0px 0px 0 0 #000000;
}

#article blockquote.twitter-tweet a:link {
  color: #ff6633;
}

#article blockquote.twitter-tweet a:active {
  color: #ff6633;
}

#article blockquote.twitter-tweet a:visited {
  color: #ff6633;
}

#article dl dt {
  font-weight: bold;
}

#article dl dt em {
  font-weight: normal;
}

#article .tags a:link,
#article .tags a:active,
#article .tags a:visited,
#article .tags a:hover {
  color: #ff6633;
}

#article .timestamp,
#article .tags {
  color: #D5D3CF;
}

hr {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  margin: 2.5em 0;
}

span.upper {
  text-transform: uppercase;
}

img.right {
  float: right;
  margin: 0 0 1em 1em;
}

img.left {
  float: left;
  margin: 0 1em 1em 0;
}

a img {
  outline : none;
  border: none;
}

img {
    max-width: 100%;
  }

#img-link, #img-link img{
  text-decoration: none !important;
  border:0px !important;
  outline:none;
  border-width: 0px;
  outline-width:0px;
  border-bottom: none;
  padding-top: 5px;
}

#footer {
  padding-top: 0px;
  font-size: 90%;
  text-align: center;
}

#tag-cloud {
  width: 80%;
  display: block;
  margin: auto;
}

#tag-cloud-head-foot {
  width: 80%;
  text-align: center;
  display: block;
  margin: auto;
  padding: 40px 15px;
  border-bottom: 1px solid transparent;
  border-bottom-color: transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: #1B1D1E;
  color: #D5D3CF;
}

.highlight td:hover {
  background-color: #202325;
}

.highlight pre {
  background-color: #202325 !important;
}

ul.pagination {
  padding: 0;
  list-style-type: none;
  font-size: 24px;
}

.pagination li {
  display: inline-block;
}

.pagination .active a:link,
.pagination .active a:active,
.pagination .active a:visited,
.pagination .active a:hover,
.pagination .disabled a:link,
.pagination .disabled a:active,
.pagination .disabled a:visited,
.pagination .disabled a:hover {
  color: #555;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  background: #1b1d1e;
  border: 1px solid #363636;
}

th, td {
  border: 1px solid #363636;
  padding: 8px 12px;
  color: #D5D3CF;
}

tr:nth-child(even) {
  background-color: #232527;
}

tr:hover {
  background-color: #2a2d30;
}

table[align="center"] {
  margin-left: auto;
  margin-right: auto;
}

th {
  background-color: #2a2d30;
  font-weight: bold;
}

#searchtax table,
#searchtax caption,
#searchtax tbody,
#searchtax tfoot,
#searchtax thead,
#searchtax tr,
#searchtax tr:hover,
#searchtax tr:nth-child(even),
#searchtax th,
#searchtax td {
  margin: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 10px;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table#directoryindex {
  text-align: left;
  border-collapse: collapse;
  border: 1px solid #363636;
  width: 100%;
  letter-spacing: 0.3px;
}

#directoryindex th {
  border-bottom: 1px solid #363636;
  background-color: #ff6633;
  color: #fafafa
}

#directoryindex td {
  border-bottom: 1px solid #363636;
}

#directoryindex tr:hover {
  background-color: #eeeeee;
}

ul.terms{
  font-size: 17px;
}

figcaption h4:before {
  display: none;
}

figcaption h4 {
  font-size: 26px;
  margin-top: 2px;
  margin-bottom: 0px;
}

figcaption p {
  font-size: 14px;
}

figure {
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: rgba(54, 54, 54, 0.2);
  padding-left: 20px;
}

figure img {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19) !important;
}

.updated-section {
  display: flex;
  margin: 1em 0;
  border-left: 2px solid #ff6633;
  background: rgba(255, 102, 51, 0.05);
}

.update-column {
  padding: 0.5em 1em;
}

.update-date {
  min-width: 150px;
  border-right: 1px solid #ff6633;
}

.update-label {
  font-weight: bold;
  display: block;
}

.update-timestamp {
  font-style: italic;
}

.update-text {
  flex: 1;
}

.update-section:after {
  content: "";
  display: table;
  clear: both;
}

.alert-green {
  color: #3c763d;
  background-color: #dff0d8;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid rgba(189, 226, 158, 0.7);;
  border-radius: 4px;
  margin-bottom: -10px;
  margin-top: -5px;
}

.alert-green code {
  background-color: #dff0d8;
  color: #3c763d;
  font-size: 115%;
}

.alert-blue {
  color: #31708f;
  background-color: #d9edf7;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid rgba(159, 218, 230, 0.7);
  border-radius: 4px;
  margin-bottom: -10px;
  margin-top: -5px;
}

.alert-blue code {
  background-color: #d9edf7;
  color: #31708f;
  font-size: 115%;
}

.alert-red {
  color: #a94442;
  background-color: #f2dede;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid rgba(240, 185, 194, 0.7);
  border-radius: 4px;
  margin-bottom: -10px;
  margin-top: -5px;
}

.alert-red code {
  background-color: #f2dede;
  color: #a94442;
  font-size: 115%;
}

.alert-purple {
  color: #7054c4;
  background-color: #eee9f8;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid rgba(201, 188, 223, 0.7);
  border-radius: 4px;
  margin-bottom: -10px;
  margin-top: -5px;
}

.alert-purple code {
  background-color: #eee9f8;
  color: #7054c4;
  font-size: 115%;
}

.alert-yellow {
  color: #8a6d3b;
  background-color: #FFF6D9;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid rgba(239, 218, 163, 0.7);
  border-radius: 4px;
  margin-bottom: -10px;
  margin-top: -5px;
}

.alert-yellow code {
  background-color: #FFF6D9;
  color: #8a6d3b;
  font-size: 115%;
}

.hero-section {
  background-size: cover;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
}

.hero-section-text {
  color: #f0f0f0;
  text-shadow: 3px 3px 3px #000;
}

h1.hero-section-text {
  font-family:'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 72px;
}


/* Thank you https://dustri.org for the instpiration!
.glitch {
	color: black;
	font-size: 16px;
    padding-top: 3%;
    margin-bottom: 0;
}
.glitch:after, .glitch:before {
	position: absolute;
	background: #fafafa;
  width: 100px;
  padding-left: 30%;
	content: attr(glitchtext);
	clip: rect(0, 50px, 0, 0);
}
.glitch:after {
	animation: glitching 8s infinite linear alternate-reverse;
	left: 2px;
	text-shadow: 1px 0 red;
}
.glitch:before {
	animation: glitching-2 10s infinite linear alternate-reverse;
	left: -2px;
	text-shadow: -1px 0 limegreen;
}
@keyframes glitching {
  0% { clip: rect(3px, 9999px, 93px, 0); }
  5% { clip: rect(53px, 9999px, 78px, 0); }
  10% { clip: rect(10px, 9999px, 75px, 0); }
  15% { clip: rect(32px, 9999px, 40px, 0); }
  20% { clip: rect(65px, 9999px, 62px, 0); }
  25% { clip: rect(31px, 9999px, 14px, 0); }
  30% { clip: rect(94px, 9999px, 87px, 0); }
  35% { clip: rect(81px, 9999px, 41px, 0); }
  40% { clip: rect(45px, 9999px, 50px, 0); }
  45% { clip: rect(82px, 9999px, 41px, 0); }
  50% { clip: rect(71px, 9999px, 3px, 0); }
  55% { clip: rect(75px, 9999px, 60px, 0); }
  60% { clip: rect(20px, 9999px, 49px, 0); }
  65% { clip: rect(67px, 9999px, 92px, 0); }
  70% { clip: rect(47px, 9999px, 55px, 0); }
  75% { clip: rect(63px, 9999px, 90px, 0); }
  80% { clip: rect(70px, 9999px, 92px, 0); }
  85% { clip: rect(41px, 9999px, 60px, 0); }
  90% { clip: rect(56px, 9999px, 79px, 0); }
  95% { clip: rect(21px, 9999px, 68px, 0); }
  100% { clip: rect(15px, 9999px, 72px, 0); }
}

@keyframes glitching-2 {
  0% { clip: rect(65px, 9999px, 99px, 0); }
  5% { clip: rect(86px, 9999px, 70px, 0); }
  10% { clip: rect(79px, 9999px, 60px, 0); }
  15% { clip: rect(15px, 9999px, 88px, 0); }
  20% { clip: rect(24px, 9999px, 5px, 0); }
  25% { clip: rect(35px, 9999px, 3px, 0); }
  30% { clip: rect(56px, 9999px, 11px, 0); }
  35% { clip: rect(2px, 9999px, 38px, 0); }
  40% { clip: rect(60px, 9999px, 50px, 0); }
  45% { clip: rect(27px, 9999px, 4px, 0); }
  50% { clip: rect(79px, 9999px, 12px, 0); }
  55% { clip: rect(23px, 9999px, 8px, 0); }
  60% { clip: rect(65px, 9999px, 55px, 0); }
  65% { clip: rect(19px, 9999px, 7px, 0); }
  70% { clip: rect(43px, 9999px, 17px, 0); }
  75% { clip: rect(65px, 9999px, 91px, 0); }
  80% { clip: rect(45px, 9999px, 66px, 0); }
  85% { clip: rect(3px, 9999px, 2px, 0); }
  90% { clip: rect(58px, 9999px, 81px, 0); }
  95% { clip: rect(29px, 9999px, 20px, 0); }
  100% { clip: rect(82px, 9999px, 28px, 0); }
}
/*

/* Font declarations -- from the awesome generator at https://google-webfonts-helper.herokuapp.com/ */

/* pt-sans-regular - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/pt-sans/pt-sans-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('PT Sans'), local('PTSans-Regular'),
       url('/fonts/pt-sans/pt-sans-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/pt-sans/pt-sans-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/pt-sans/pt-sans-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/pt-sans/pt-sans-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/pt-sans/pt-sans-v9-latin-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}


/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/lato/lato-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
       url('/fonts/lato/lato-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/lato/lato-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/lato/lato-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/lato/lato-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/lato/lato-v14-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/lato/lato-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Lato Bold'), local('Lato-Bold'),
       url('/fonts/lato/lato-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/lato/lato-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/lato/lato-v14-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/lato/lato-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/lato/lato-v14-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/lato/lato-v14-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Lato Italic'), local('Lato-Italic'),
       url('/fonts/lato/lato-v14-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/lato/lato-v14-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/lato/lato-v14-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/lato/lato-v14-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/lato/lato-v14-latin-italic.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-700italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/lato/lato-v14-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
       url('/fonts/lato/lato-v14-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/lato/lato-v14-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/lato/lato-v14-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/lato/lato-v14-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/lato/lato-v14-latin-700italic.svg#Lato') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/open-sans/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('/fonts/open-sans/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/open-sans/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/open-sans/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/open-sans/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/open-sans/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

br#mobile-br {
  display: none;
}


@media (max-width: 1099px) {

  #container {
    width: 100%;
  }
    nav {
      display: block;
    }

    nav .current {
      font-weight: bold;
    }

    nav ul {
      display: block;
    }

    nav ul.first > li {
      display: block;
    }

    nav ul.second,
    nav ul.third {
      display: block;
      margin-top: 2px;
      margin-left: 10px
    }

    code.language-txt {
      overflow-x: hidden;
    }

    .hero-section-text {
      display: none;
    }

    .hero-section {
      display: none;
    }

    .update-column {
      width: 100%;
      border-left: 2px solid #ff6633;
    }

    .update-text {
      border-left: none;
      border-top: 1px solid #ff6633;
      border-left: 2px solid #ff6633;
    }

    .update-text br#spacing-hack {
      display: none;
    }

    br#mobile-br {
      display: inline;
    }

    .update-column.update-date {
      padding-bottom: 2px;
    }

    .update-date {
      text-align: left;
      padding-left: 10px;
    }

    #tag-cloud {
      width: 90%;
      display: block;
      margin: auto;
      border-radius: 4px;
    }

    #tag-cloud-head-foot {
      width: 90%;
    }

    /* #site-slogan {
      margin-top: -1em;
    } */

  }

@media (min-width: 1100px) {

  #container {
    max-width: 1100px;
  }

  nav .current {
    font-weight: bold;
  }

  nav ul li a {
    display: block;
    font-size: 90%;
  }

  nav ul.first > li {
    display: inline-block;
    position: relative;
    padding-right: 1.25em;
  }

  nav ul.second,
  nav ul.third {
    position: absolute;
    background: #1B1D1E;
    width: 128px;
    border: 1px solid rgb(73, 73, 73);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.25);
  }

  nav ul.second {
    z-index: 2;
  }

  nav ul.third {
    z-index: 3;
  }

  nav ul.second li {
    position: relative;
  }

  nav ul.third {
    left: 212px;
    top: -1px;
  }

  nav ul.first li:hover ul.second,
  nav ul.second li:hover ul.third {
    display: block;
  }

  nav ul.second li a,
  nav ul.third li a {
    padding: 0.75em 1em;
  }

  #article {
    width: 100%;
    position: relative;
  }

  h1.hero-section-text-narrow {
    display: none;
  }

}

/* Default styles remain unchanged for desktop */
#article p, #article ol li, #article ul li {
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  max-width: 100%;
  line-height: 1.6;
}

@media (max-width: 1099px) {
  code {
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    display: inline;
    max-width: 100%;
  }


  code + :not(pre):not(code) {
    white-space: nowrap;
    display: inline;
  }

  pre code {
    display: block;
  }
}

[class*="language"] {
  background-color: #202325;
}

.highlight td {
  background-color: #202325;
}

.highlight pre {
  background-color: #202325 !important;
}

