        </div>

      </div>

    {{ if in .Params.categories "wow"}}
    <script>var whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true};</script>
    <script src="//wow.zamimg.com/widgets/power.js"></script>
    {{end}}

    {{ if not (in (.Site.BaseURL | string) "localhost") }}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131761772-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-131761772-1');
        </script>
    {{ end }}

      <br>
      <div id="footer" ><br>

            <div id="copyright-txt">
                Site last generated {{ now.Format "02 Jan 2006" }} with <a href="https://gohugo.io/" target="_blank">Hugo</a>
                <br>See my <a href="{{ .Site.BaseURL }}disclaimer" target="_blank">disclaimer</a> and <a href="{{ .Site.BaseURL }}privacy" target="_blank">privacy statement</a><br>
                Licensed as <a href="{{ $.Site.Params.siteLicenseLink }}" target="_blank">{{ $.Site.Params.siteLicense }}</a>&nbsp;&&nbsp;<a href="{{ $.Site.Params.siteCodeLicenseLink }}" target="_blank">{{ $.Site.Params.siteCodeLicense }}</a><br>
            </div>

            <a id="img-link" href="https://github.com/oct8l" target="_blank" style="padding-left:10px;">
              <img class="icon" src="/img/footerlogos/github.svg" alt="github" style="width:24px;height:24px;" />
            </a>

            <a id="img-link" href="https://gitlab.com/oct8l" target="_blank" style="padding-left:10px;">
              <img class="icon" src="/img/footerlogos/gitlab.svg" alt="gitlab" style="width:24px;height:24px;" />
            </a>

            <a id="img-link" href="https://twitter.com/oct8l" target="_blank" style="padding-left:10px;">
              <img class="icon" src="/img/footerlogos/twitter.svg" alt="twitter" style="width:24px;height:24px;" />
            </a>

            <a id="img-link" href="https://keybase.io/oct8l" target="_blank" style="padding-left:10px;">
              <img class="icon" src="/img/footerlogos/keybase.svg" alt="keybase" style="width:24px;height:24px;" />
            </a>

            <a id="img-link" href="https://reddit.com/user/oct8l" target="_blank" style="padding-left:10px;">
              <img class="icon" src="/img/footerlogos/reddit.svg" alt="reddit" style="width:24px;height:24px;" />
            </a>

            <br><br>

      </div>



    </div>

  </body>
</html>
