<!DOCTYPE html>
<html>
  <head>

    {{ if not (in (.Site.BaseURL | string) "localhost") }}
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ .Site.BaseURL }}img/favicon/apple-touch-icon-57x57.png?v=119a" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ .Site.BaseURL }}img/favicon/apple-touch-icon-114x114.png?v=119a" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ .Site.BaseURL }}img/favicon/apple-touch-icon-72x72.png?v=119a" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ .Site.BaseURL }}img/favicon/apple-touch-icon-144x144.png?v=119a" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ .Site.BaseURL }}img/favicon/apple-touch-icon-60x60.png?v=119a" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ .Site.BaseURL }}img/favicon/apple-touch-icon-120x120.png?v=119a" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ .Site.BaseURL }}img/favicon/apple-touch-icon-76x76.png?v=119a" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ .Site.BaseURL }}img/favicon/apple-touch-icon-152x152.png?v=119a" />
        <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}img/favicon/favicon-196x196.png?v=119a" sizes="196x196" />
        <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}img/favicon/favicon-96x96.png?v=119a" sizes="96x96" />
        <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}img/favicon/favicon-32x32.png?v=119a" sizes="32x32" />
        <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}img/favicon/favicon-16x16.png?v=119a" sizes="16x16" />
        <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}img/favicon/favicon-128.png?v=119a" sizes="128x128" />
        <meta name="application-name" content="oct8l's pages"/>
        <meta name="msapplication-TileColor" content="#FF6633" />
        <meta name="msapplication-TileImage" content="{{ .Site.BaseURL }}img/favicon/mstile-144x144.png?v=119a" />
        <meta name="msapplication-square70x70logo" content="{{ .Site.BaseURL }}img/favicon/mstile-70x70.png?v=119a" />
        <meta name="msapplication-square150x150logo" content="{{ .Site.BaseURL }}img/favicon/mstile-150x150.png?v=119a" />
        <meta name="msapplication-wide310x150logo" content="{{ .Site.BaseURL }}img/favicon/mstile-310x150.png?v=119a" />
        <meta name="msapplication-square310x310logo" content="{{ .Site.BaseURL }}img/favicon/mstile-310x310.png?v=119a" />
    {{ else }}
        <link rel="icon" href="{{ .Site.BaseURL }}img/favicon/bio.ico" type="image/x-icon">
    {{ end }}

    {{ partial "seo-schema.html" . }}
    {{ partial "open-graph.html" . }}
    <!--{{ partial "twitter-cards.html" . }} -->

    <title>
	    {{ if eq .Title .Site.Title }}
	    {{ .Title }}
	    {{ else }}
	    {{ .Title }} - {{ .Site.Title }}
	    {{ end }}
    </title>
    {{- $cssnewhash := readFile "/themes/crab/static/css/crab-dark.css" | sha1 -}}
    <link rel="stylesheet" href="/css/crab-dark.css?{{ $cssnewhash }}">
    {{ if .Params.fontawesome }}
    <link rel="stylesheet" href="/css/fontawesome-all.css">
    {{end}}
    <meta name="lastgen" content="{{ now.Format "Mon, 02 Jan 2006 15:04:05 MST" }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=1.0">
    {{ .Hugo.Generator }}

    </head>

  <body>

    <div id="container">

      <div id="header">

        <div id="site-logo">
            {{ if isset .Site.Params "badge1" }}
            <img src="{{ .Site.Params.badge1 }}" style="width:150px;height:150px; ">
            {{ end }}

            {{ if isset .Site.Params "badge2" }}
            <img src="{{ .Site.Params.badge2 }}" style="width:150px;height:150px; margin-right: -25px;">
            {{ end }}

            {{ if isset .Site.Params "badge3" }}
            <img src="{{ .Site.Params.badge3 }}" style="width:150px;height:150px; margin-right: -25px;">
            {{ end }}

            {{ if isset .Site.Params "badge4" }}
            <img src="{{ .Site.Params.badge4 }}" style="width:150px;height:150px; margin-right: -25px;">
            {{ end }}

            <br>

            {{ if isset .Site.Params "badge5" }}
            <img src="{{ .Site.Params.badge5 }}" style="width:150px;height:150px; margin-right: -25px;">
            {{ end }}

            {{ if isset .Site.Params "badge6" }}
            <img src="{{ .Site.Params.badge6 }}" style="width:150px;height:150px; margin-right: -25px;">
            {{ end }}

            {{ if isset .Site.Params "badge7" }}
            <img src="{{ .Site.Params.badge7 }}" style="width:150px;height:150px; margin-right: -25px;">
            {{ end }}

            {{ if isset .Site.Params "badge8" }}
            <img src="{{ .Site.Params.badge8 }}" style="width:150px;height:150px; margin-right: -25px;">
            {{ end }}

        </div>

	<div id="site-title">
    <a href="/">
      <img class="icon" src="/img/logos/oct8l_logo.png" height="82" width="228" alt="oct8l logo"/>
    </a>
  </div>

  <!-- Uncomment the line below for a flashing/"glitching" site slogan -->
  <!-- Also change the site-slogan CSS from -0.35 to -2.6ddddd -->
  <!-- <div id="site-slogan" class="glitch" glitchtext="&nbsp;">{{ .Site.Params.Description }}</div> -->

	<div id="site-slogan">{{ .Site.Params.Description }}</div>

      </div>

      {{ partial "menu.html" . }}

      <div id="content">

        <div id="article">
          {{ if eq .Title .Site.Title }}
          <h1>Home</h1>
          {{ else if eq .Title "Tag Cloud" }}
          {{ else if eq .Title "Category Cloud" }}
          {{ else if .Params.covertitle }}
            <div class="hero-section" style="height: {{ .Params.coverheight }};background: linear-gradient(hsla(0,0%,0%,{{ .Params.coveropacity }}),hsla(0,0%,0%,{{ .Params.coveropacity }})),url({{.Params.cover}}) 50% no-repeat;">
                <div class="hero-section-text">
                    <h1 class="hero-section-text">{{ .Title }}</h1>
                </div>
            </div>

          <h1 class="hero-section-text-narrow">{{ .Title }}</h1>


            {{ else if and (isset .Params "cover") (not .Params.covertitle) }}
            <div class="hero-section" style="height: {{ .Params.coverheight }};background: linear-gradient(hsla(0,0%,0%,{{ .Params.coveropacity }}),hsla(0,0%,0%,{{ .Params.coveropacity }})),url({{.Params.cover}}) 50% no-repeat;">
                <div class="hero-section-text">
                    <h1 class="hero-section-text">{{ .Params.covertext }}</h1>
                </div>
            </div>
            <h1>{{ .Title }}</h1>

          {{ else }}
          <h1 class="no-cover-text">{{ .Title }}</h1>
          {{ end }}
