<nav>
  <ul class="first">
    {{ $rel := $.Page.RelPermalink }}
    {{ range .Site.Menus.main }}
    <li><a href="{{.URL}}"{{ if eq $rel .URL }} class="current"{{end}}>{{ .Name }} {{ if .HasChildren }} &raquo;{{ end }}</a>
      {{ if .HasChildren }}
        <ul class="second">
        {{ range .Children }}
          <li><a href="{{.URL}}"{{ if eq $rel .URL }} class="current"{{end}}>{{ .Name }}{{ if .HasChildren }} &raquo;{{ end }}</a>
            {{ if .HasChildren }}
              <ul class="third">
              {{ range .Children }}
                <li><a href="{{.URL}}"{{ if eq $rel .URL }} class="current"{{end}}>{{ .Name }}</a></li>
              {{ end }}
              </ul>
            {{ end }}
          </li>
        {{ end }}
        </ul>
      {{ end }}
      </li>
    {{ end }}
  </ul>
</nav>
