{{ $pag := .Paginator }}
{{ if gt $pag.TotalPages 1 }}
 <ul class="pagination">
    {{ with $pag.First }}
    <li
    {{ if not $pag.HasPrev }}class="disabled"{{ end }}>
	<a href="{{ .URL }}" aria-label="First"><span aria-hidden="true">First</span></a>
    </li>
    {{ end }}
    <li
    {{ if not $pag.HasPrev }}class="disabled"{{ end }}>
    &nbsp;<a href="{{ if $pag.HasPrev }}{{ $pag.Prev.URL }}{{ end }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
    </li>
    {{ range $pag.Pagers }}
    <li
    {{ if eq . $pag }}class="active"{{ end }}>&nbsp;<a href="{{ .URL }}">{{ .PageNumber }}</a></li>
    {{ end }}
    <li
    {{ if not $pag.HasNext }}class="disabled"{{ end }}>
    &nbsp;<a href="{{ if $pag.HasNext }}{{ $pag.Next.URL }}{{ end }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
    </li>
    {{ with $pag.Last }}
    <li
    {{ if not $pag.HasNext }}class="disabled"{{ end }}>
	&nbsp;<a href="{{ .URL }}" aria-label="Last"><span aria-hidden="true">Last</span></a>
    </li>
    {{ end }}
</ul>
{{ end }}
