<!-- this was an amalgamation from a few different sites:

  https://scripter.co/search/
  https://www.edwardawebb.com/search/
  http://live.cogley.info/

Scripts from here: https://gist.github.com/eddiewebb/735feb48f50f0ddd65ae5606a1cb41ae

-->

{{ partial "header.html" . }}


<noscript><div class="alert-blue">
  <br><i class="fa fa-info-circle"></i>&nbsp;This page requires JavaScript for search to work correctly.<br><br>
</div><br><br></noscript>

<section>
  <div>
    <form action="{{.Site.BaseURL}}search/">
      <input id="search-query" placeholder="Enter your query" name="s"/>
      <input type="submit">
    </form><br><br>
    <div id="search-results">
     <h2>Matching posts or pages:</h2><br>
    </div>
  </div>
</section>

<!-- this template is sucked in by search.js and appended to the search-results div above. So editing here will adjust style -->
<script id="search-result-template" type="text/x-js-template">
  <div id="summary-${key}">
      <h2><a href="${link}">${title}</a></h2>
      <p>${snippet}&hellip; <a href="${link}">Read more&hellip;</a></p>
      <small>
          <table id="searchtax">
              ${ isset tags }<tr><td><strong>Tags</strong>:</td><td>${tags}</td></tr>${ end }
              ${ isset categories }<tr><td><strong>Category:</strong></td><td>${categories}</td></tr>${ end }
          </table>
      </small>
  </div>
</script>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/fuse-6.4.6.min.js"></script>
<script src="/js/jquery.mark.min.js"></script>
<script src="{{ "js/search.js" | absURL }}"></script>

{{ partial "footer.html" . }}
