{{ partial "header.html" . }}

{{ if or (in .URL "tags") (in .URL "categories") }}

<ul class="terms">
    {{ range $key, $value := .Data.Terms }}
    <li>
      <a href="{{ (print "/" $.Data.Plural "/" $key | urlize) | relURL }}">
        {{ $key }}
      </a>
      ({{ len $value }})
    </li>
    {{ end }}
  </ul>

  <ul>
      {{ range (where .Data.Pages "Section" "!=" "") }}
      <li>
        <a href="{{ .URL }}">{{ .Title }}</a>
        <span class="date">{{ .Date.Format "January 2, 2006" }}</span>
      </li>
      {{ end }}
    </ul>

{{ end }}

{{ if or (in .URL "posts") }}

  {{ range sort .Paginator.Pages }}
      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      <p class="timestamp">{{ .Date.Format "January 2, 2006" }}<br>
        <i>
            {{ div (add .WordCount 212) 198 | int }} minute read
        </i>
      </p>
      <div class="content">

          {{ if .Params.summary }}{{ .Params.summary }}{{ else }}{{ .Summary | plainify | safeHTML  }}{{ end }}
            {{ if .Truncated }}
        ... <a href="{{ .Permalink }}">Read more&hellip;</a>
                {{ end }}
                </div>
                <div style="color:grey; font-size:16px;">
                  {{ if .Params.tags }}Tags:
                  {{range .Params.tags}}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                  {{ end }}

                  <br>

                  {{ if .Params.categories }}Category:
                  {{range .Params.categories }}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                  {{ end }}
                  {{ end }}
                  {{ end }}
                </div>
  {{ end }}
{{ end }}

{{ if or (in .URL "notes") (in .URL "one-liners") }}

  {{ range sort .Paginator.Pages }}
      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      <p class="timestamp">{{ .Date.Format "January 2, 2006" }}</p>
      <div class="content">

          {{ if .Params.summary }}{{ .Params.summary }}{{ else }}{{ .Summary | plainify | safeHTML  }}{{ end }}
            {{ if .Truncated }}
        ... <a href="{{ .Permalink }}">Read more&hellip;</a>
                {{ end }}
                </div>
                <div style="color:grey; font-size:16px;">
                  {{ if .Params.tags }}Tags:
                  {{range .Params.tags}}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                  {{ end }}

                  <br>

                  {{ if .Params.categories }}Category:
                  {{range .Params.categories }}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                  {{ end }}
                  {{ end }}
                  {{ end }}
                </div>
  {{ end }}
{{ end }}

{{ if (in .URL "cv") }}

  {{ range sort .Paginator.Pages }}
      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      <div class="content">
      {{ if .Params.summary }}{{ .Params.summary }}{{ else }}{{ .Summary | plainify | safeHTML  }}{{ end }}
        {{ if .Truncated }}
          ... <a href="{{ .Permalink }}">Read more&hellip;</a>
                  {{ end }}
                  </div>

  {{ end }}
{{ end }}

{{ partial "pagination.html" . }}

{{ partial "footer.html" . }}