{{ partial "header.html" . }}

 {{ $tNow := (.Date.Format "20060102") }}
 {{ $tMod := (.Lastmod.Format "20060102") }}

{{ if hasPrefix .URL "/posts/" }}

  {{ if (eq $tNow $tMod) }}

  <h3 class="timestamp">Posted {{ .Date.Format "January 2, 2006" }}</h3><br>
  <p style="margin-top: -40px; margin-bottom: 40px;font-style: italic;">{{ div (add .WordCount 212) 198 | int }} minute read</p>

  {{ else }}

  <h3 class="timestamp" style="margin-bottom: -21px">Posted {{ .Date.Format "January 2, 2006" }}</h3>

  <h4 class="timestamp" style="margin-bottom: 25px">Last updated {{ .Lastmod.Format "January 2, 2006" }}{{ if .IsPage }}{{ with .GitInfo }} | <a href="{{ $.Site.Params.siteRepo }}commit/{{ .Hash }}" title="{{.Subject}}">{{ .AbbreviatedHash }}</a>{{ end }}{{ end }}</h4><br>
  <p style="margin-top: -44px; margin-bottom: 40px;font-style: italic;">{{ div (add .WordCount 212) 198 | int }} minute read</p>

  {{ end }}

{{ end }}

{{ if or (in .URL "one-liners") (in .URL "notes") }}

<h4 class="timestamp" style="margin-bottom: 25px">Last updated {{ .Lastmod.Format "January 2, 2006" }}{{ if .IsPage }}{{ with .GitInfo }} | <a href="{{ $.Site.Params.siteRepo }}commit/{{ .Hash }}" title="{{.Subject}}">{{ .AbbreviatedHash }}</a>{{ end }}{{ end }}</h4>

{{ end }}

{{ if .Params.toc }}
  {{ partial "toc.html" . }}
{{ end }}


<div id="inner">
  {{ partial "headline-hash.html" .Content }}
</div>

{{ if hasPrefix .URL "/posts/" }}

  <div id="single-bottom">
    <div style="margin-top: -12px;">
    {{ if .Params.tags }}
      {{ partial "tags.html" . }}
    {{ end }}
    </div>
    <div style="margin-top: -12px;">
    {{ if .Params.categories }}
      {{ partial "categories.html" . }}
    {{ end }}
    </div>

    {{ partial "related.html" . }}
    {{ partial "isso.html" . }}
  </div>

{{ end }}

{{ if or (in .URL "one-liners") (in .URL "notes") }}
  <br>

  <div id="single-bottom" style="padding-top: 4px; margin-top: -15px;">
    {{ partial "isso.html" . }}
  </div>

  {{ else if .Params.comments }}

  <div id="single-bottom" style="padding-top: 4px; margin-top: -15px;">
    {{ partial "isso.html" . }}
  </div>

{{ end }}

{{ partial "footer.html" . }}
