<script data-isso="https://isso.oct8l.com/"
        data-isso-vote-levels=“-5,5”
        data-isso-reply-to-self="false"
        data-isso-vote="true"
        data-isso-max-comments-top="inf"
        data-isso-max-comments-nested="inf"
        data-isso-reply-notifications="true"
        src="https://isso.oct8l.com/js/embed.min.js"></script>

<section id="isso-thread" data-title="{{ .Title }}"></section>