{{ range first 3 (where .Data.Pages "Section" "in" (slice "posts")) }}
  <br>
  <a href="{{ .Permalink }}">{{ .Title }}</a>, posted on {{ .Date.Format "1/2/2006" }}



      {{ if .Params.tags }}with tags
      {{range .Params.tags}}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
      {{ end }}


      {{ if .Params.categories }}and under category
      {{range .Params.categories }}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
      {{ end }}
      <br>

  {{ end }}
  {{ end }}

{{ end }}