<!-- og type/article published time -->
{{ if hasPrefix .URL "/posts/" }}
    <meta property="og:type" content="article">
    <meta property="article:published_time" content="{{ .Date.Format "2006-01-02" }}">
    <meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02" }}">
{{ else }}
    <meta property="og:type" content="website">
{{ end }}


<!-- og description -->
{{ if hasPrefix .URL "/posts/" }}
    <meta property="og:description" content="{{ if .Params.seoDescription }}{{ .Params.seoDescription }}{{ else }}{{if .IsPage}}{{ .Summary | truncate 155 }}{{ end }}{{ end }}">
{{ else }}   
    <meta property="og:description" content="">
{{ end }}


<!-- dynamic og media -->

{{ if .Params.ogImage }}
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.ogImage }}">
{{ else }}
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Site.Params.ogImageDef }}">
{{ end }}

{{ if .Params.ogaudio }}
    <meta property="og:audio" content="{{ .Site.BaseURL }}{{ .Params.ogaudio }}">
{{ else }}
    <meta property="og:audio" content="">
{{ end }}

{{ if .Params.ogvideo }}
    <meta property="og:video" content="{{ .Site.BaseURL }}{{ .Params.ogvideo }}">
{{ else }}
    <meta property="og:video" content="">
{{ end }}


<!-- og tags, catagories and keywords -->
{{ range .Params.tags }}
    <meta property="og:tags" content="{{ . }}">
{{ end }}

{{ range .Params.categories }}
    <meta property="og:tags" content="{{ . }}">
{{ end }}

{{ range .Params.keywords }}
    <meta property="og:tags" content="{{ . }}">
{{ end }}


<!-- static og tags -->
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:locale" content="en_US">
<meta property="og:title" content="{{ .Title }}">