{{ $related := .Site.RegularPages.Related . | first 3 }}
{{ with $related }}
<h3 style="margin-bottom: -6px;">Related posts:</h3>
<ul>
	{{ range . }}
	<li><a href="{{ .RelPermalink }}">{{ .Title }}&nbsp;&nbsp;<i>({{ div (add .WordCount 212) 198 | int }} minute read)</i></a></li>
	{{ end }}
</ul>
{{ end }}

