<!-- thanks to mikeblum https://github.com/gohugoio/hugo/issues/1778#issuecomment-313895910 -->

<!-- ignore empty links with + -->
 {{ $headers := findRE "<h[1-3].*?>(.|\n])+?</h[1-3]>" .Content }}
 <!-- at least one header to link to -->
 {{ $has_headers := ge (len $headers) 1 }}
 <!-- a post can explicitly disable Table of Contents with toc: false -->
 {{ $show_toc := (eq $.Params.toc true) }}
 {{ if and $has_headers $show_toc }}
 <div class="table-of-contents">
     <!-- TOC header -->
     <h3>Table of Contents</h3>
     {{ range $headers }}
         {{ $header := . }}
         {{ range first 1 (findRE "<h[1-3]" $header 1) }}
             {{ range findRE "[1-3]" . 1 }}
                 {{ $next_heading := (int .) }}
                 <!-- generate li array of the proper depth -->
                 {{ range seq $next_heading }}
                     <ul class="toc-h{{ . }}">
                 {{end}}
                 {{ $base := ($.Page.File.LogicalName) }}
                 {{ $anchorId := ($header | plainify | htmlEscape | urlize) }}
                 {{ $href := delimit (slice $base $anchorId) "#" | string }}
                 <a href="{{ relref $.Page $href }}">
                     <li>{{ $header | plainify | htmlEscape }}</li>
                 </a>
                 <!-- close list -->
                 {{ range seq $next_heading }}
                     </ul>
                 {{end}}
             {{end}}
         {{end}}
     {{ end }}
 </div>
 {{ end }}