{{ if .Params.summary }}
    <meta property="twitter:card" content="{{ .Params.summary }}">
    <meta property="twitter:card" content="{{ .Title }}">
{{ end }}
{{ if hasPrefix .URL "/posts/" }}
    <meta property="twitter:description" content="{{ if .Params.seoDescription }}{{ .Params.seoDescription }}{{ else }}{{if .IsPage}}{{ .Summary | truncate 155 }}{{ end }}{{ end }}">
{{ else }}   
    <meta property="twitter:description" content="{{ .Title }}">
{{ end }}
<meta property="twitter:title" content="{{ .Title }}">
<meta property="twitter:image" content="{{ .Site.BaseURL }}{{ .Site.Params.ogImageDef }}">