{{ $id := .Get 0 }}

<script id="asciicast-{{ $id }}" src="https://asciinema.org/a/{{ $id }}.js" async></script>
<noscript>This is an embedded <a href="https://asciinema.org/">Asciicast</a>. JavaScript is required to view it.<br></noscript>