<!-- Thanks https://www.sidorenko.io/post/2017/07/nice-tagcloud-with-hugo/! -->
<div id="tag-cloud-head-foot">
    <b style="font-size: 20px">Category cloud</b>
</div>
{{ if not (eq (len $.Site.Taxonomies.categories) 0) }}
    {{ $fontUnit := "rem" }}
    {{ $largestFontSize := 2.8 }}
    {{ $smallestFontSize := 1.0 }}
    {{ $fontSpread := sub $largestFontSize $smallestFontSize }}
    {{ $max := add (len (index $.Site.Taxonomies.categories.ByCount 0).Pages) 1 }}
    {{ $min := len (index $.Site.Taxonomies.categories.ByCount.Reverse 0).Pages }}
    {{ $spread := sub $max $min }}
    {{ $fontStep := div $fontSpread $spread }}

    <div id="tag-cloud" style="padding: 5px 15px">
        {{ range $name, $taxonomy := $.Site.Taxonomies.categories }}
            {{ $currentTagCount := len $taxonomy.Pages }}
            {{ $currentFontSize := (add $smallestFontSize (mul (sub $currentTagCount $min) $fontStep) ) }}
            {{ $count := len $taxonomy.Pages }}
            {{ $weight := div (sub (math.Log $count) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }}
            {{ $currentFontSize := (add $smallestFontSize (mul (sub $largestFontSize $smallestFontSize) $weight) ) }}
            <!--Current font size: {{$currentFontSize}}-->
            <a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}" style="font-size:{{$currentFontSize}}{{$fontUnit}}">{{ $name }}</a>
        {{ end }}
    </div>
<div id="tag-cloud-head-foot">
    <div><a href="{{ "/categories/" | relLangURL }}">- full list of categories -</a></div>
</div>
{{ end }}