<SCRIPT TYPE="text/javascript">xyz="mail.oct8l",xyz+=".com",xyz="oct8l+hugo@"+xyz,def="{{ .Get "text" }}",document.write('<A href="mailto:'+xyz+'">'+def+"</a>");//Thanks to http://www.joemaller.com</script>
  <noscript>
    <em><code>
    JavaScript is required to view this email address
    </code>
    </em>
  </noscript>
&nbsp;(my public GPG key is <a href="https://mail.oct8l.com/public.gpg.txt">here</a>)