{{- $pathURL := .Get "pathURL" -}}
{{- $path := .Get "path" -}}
{{- $files := readDir $path -}}

<table id="directoryindex">
    <th>File name</th>
    <th>Size (bytes) </th>

{{- range $files }}

    <tr>
        <td><a href="{{ $pathURL }}{{ .Name | relURL }}" target="_blank">{{ .Name }}</a></td>
        <td>{{ div .Size 1 }}</td>
    </tr>

{{- end }}

</table>