<div style="color: #31708f;
background-color: #d9edf7;
padding-left: 10px;
padding-bottom:12px;
padding-top:12px;
padding-right: 10px;
border: 1px solid rgba(159, 218, 230, 0.7);
border-radius: 4px;
margin-bottom: -10px;
margin-top: -5px;">
<i class="fa fa-info-circle"></i>&nbsp;<strong>Note</strong>: Be sure to read the <a href="{{ .Site.BaseURL }}disclaimer" target="_blank" style="text-decoration:none;">disclaimer</a> before running any of the commands or scripts below. 
</div>