<div class="updated-section">
  <div class="update-column update-date">
    <span class="update-label">Update</span>
    <span class="update-timestamp">{{.Get 0}}</span>
  </div>
  <div class="update-column update-text">
    {{- .Inner -}}
    {{- if .Get 1 -}}<br>{{- end -}}
  </div>
</div>